/* geral */
main {
    background-color: #3E444B;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input[type="submit"] {
    background: none;
    border: none; 
    color: inherit;
    font: inherit; 
    cursor: pointer;
    padding: 0; 
    margin: 0; 
}

button {
    background: none;
    border: none; 
    color: inherit;
    font: inherit; 
    cursor: pointer;
    padding: 0; 
    margin: 0; 
}

#listaHP::-webkit-scrollbar, #lista-pericias::-webkit-scrollbar {
    width: 0.8vw;
    
}

#listaHP::-webkit-scrollbar-track, #lista-pericias::-webkit-scrollbar-track {
    background: #103563;
    border: 2px #2C3035 solid ;
    background-origin: border-box;
    border-radius: 0.4vw;
    margin: 2px;
    
}

#listaHP::-webkit-scrollbar-thumb, #lista-pericias::-webkit-scrollbar-thumb {
    background: #1956a0;
    border-radius: 0.4vw;
    border: 2px solid #2C3035;
}

/* Personaliza o estado hover do thumb */
#listaHP::-webkit-scrollbar-thumb:hover, #lista-pericias::-webkit-scrollbar-thumb:hover {
    background: #2962a7;
}

#info, #principal, #habilidades_poderes, #pericias, #atributos, #dados, #inventario, #proficiencias, #armas {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    height: 36vw;
    margin: 0.4%;
    background-color: #384753;

}

#lista-pericias {
    direction: rtl; /* Muda a direção para rtl, movendo a scrollbar para a esquerda */
}

#lista-pericias > * {
    direction: ltr; /* Mantém o conteúdo dos filhos em ltr */
}

#sobre, #rituais {
    display: flex;
    flex-direction: column;
    width: 99.9%;
    height: 36vw;
    margin: 0.4%;
    background-color: #384753;
}

.Titulo {
    background-color: #2C3035;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.thp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thp input {
    padding: 5px;
    margin: 3px;
    border: #1956a0 2px solid;
    border-radius: 5px;
}

.HP-press {
    background-color: #103563;
}

.Titulo h1, .Titulo a {
    padding: 5px;
}

.div-info {
    width: 9.6vw;
    margin: 16px;
}

/* Estilo geral para os contêineres de informação */
.Conteudo-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.box-titulo {
    border: 2px solid white; /* Border of the box */
    padding: 10px;
    position: relative;
    display: inline-block;
    background-color: #384753; /* Background color inside the box */
    width: 100%;
}

/* Estilo para o título de cada informação */
.box-titulo h1 {
    position: absolute;
    top: -10px;
    left: 10px;
    margin: 0;
    padding: 0 5px;
    font-size: 1vw;
    color: white;
    background-color: #384753; /* Background color behind the label */
}

/* Estilo para o texto de cada informação */
.box-titulo p {
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
    color: white;
}










#status {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    align-items: center;
    justify-content: center;
}



#Vida, #Sanidade, #PE{
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
    padding-top: 6px;
}

#Vida p, #Sanidade p, #PE p{
    font-size: 1.1vw;
}


#Vida div, #Sanidade div, #PE div {
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: row;
}

.box-dados-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.botão-perfil {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2vw;
    margin: 0 5px;
    cursor: pointer;
}

.barra p {
    margin: 0 10px;
    font-size: 1.4vw;
    width: 22vw;
    display: flex;
    justify-content: center;
}

.Fundo-barra {
    width: 22vw;
    height: 1.6vw;
    background-color: #34495e;
    position: relative;
    margin-left: 10px;
}

.barra {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#barra-Vida {
    background-color: rgb(194, 54, 54);
}
#barra-Sanidade {
    background-color: rgb(44, 67, 173);
}
#barra-PE {
    background-color: rgb(197, 188, 59);
}

#valor-Vida, #valor-Sanidade, #valor-PE{
    margin: 0;
    font-size: 1vw;
    color: white;
    z-index: 1;
}

.barra p {
    margin: 0;
    padding: 0 5px;
    font-size:  1.2vw;
    color: white;
    z-index: 2;
}




#box-img {
    position: relative;
    width: 7vw; /* Tamanho específico */
    height: 8vw; /* Tamanho específico */
    border-radius: 20px; /* Forma arredondada */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

#box-defesas2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4px;
    font-size: 0.8vw;
    color: #f0f8ff;

}

#box-defesas2 div {
    margin: 2px;
    border-radius: 5px;
    background-color: #2b4a69;
}

.Defesas-Passiva, .Defesas-Esquiva, .Defesas-Bloqueio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 0.9vw;
    width: 4.2vw;
}

.Resistencias-Corte, .Resistencias-Balistica, .Resistencias-Quimica, .Resistencias-Fogo, .Resistencias-Frio, .Resistencias-Impacto, .Resistencias-Eletricidade {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}



#Resistencias, #box-defesas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #374250; 
    padding: 2px 0px 4px 0px;
    margin: 6px 10px 4px 10px;
    border-radius: 8px;
}

#Resistencias-titulo, #box-defesas-titulo {
    font-size: 1vw;
}


#box-resistencias{
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    flex-wrap: wrap;
}

#Resistencias div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0.86vw;
    width: 4.2vw;
    margin: 2px;
    background-color: #2b4a69;
    border-radius: 5px;
    padding: 10px;
}

#Resistencias div p {
    font-size: 0.8vw;
    padding: 1px;
}


.Resistencias-Mental {
    color: hwb(158 37% 36%);
    font-weight: bold;
}

.Resistencias-Morte {
    color: hwb(30 15% 81%);
    font-weight: bold;
}

.Resistencias-Conhecimento {
    color: hwb(64 33% 29%);
    font-weight: bold;
}

.Resistencias-Sangue {
    color: hwb(0 29% 0%);
    font-weight: bold;
}

.Resistencias-Energia {
    color: hwb(300 40% 25%);
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}







#listaHP {
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 4px;
}

#listaHP h1 {
    font-size: 1.2vw;
    color: white;
    margin: 10px;
}

#listaHP p {
    font-size: 1vw;
    color: white;
    margin: 10px;
}


#listaHP li {
    padding: 0.2vw;
    margin: 0.5vw 1vw 0vw 1vw;
    background-color: #374250;
    border-radius: 8px;
}






#lista-pericias {
    overflow: hidden;
    overflow-y: auto;
}

#lista-pericias ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#lista-pericias img {
    width: 3.6vw;
    height: auto; /* Mantém a proporção do SVG */
    fill: red;
}

#lista-pericias div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#lista-pericias li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #374250;
    padding: 4px;
    height: 5.2vw;
    width: 6.8vw;
    border-radius: 1vw;
    margin: 6px;
}

#lista-pericias p {
    font-size: 1.2vw;
    color: aliceblue;
    margin: 2px;
}

.Pericia-item svg {
    fill: aliceblue;
}

.Pericia-item.Treinado svg, .Pericia-item.Veterano svg, .Pericia-item.Expert svg {
    fill: currentColor;
}

.Treinado {
    color: #3baa65;
    fill: #3baa65;
}

.Veterano {
    color: #3571aa;
    fill: #3571aa;
}   

.Expert {
    color: #c27d3d;
    fill: #c27d3d;
}




#Atributo {
    position: relative;
}

#img-atributos {
    width: 100%;
    height: 100%;
    display: block;
}

.attribute {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

#For { top: 40%; left: 19.7%; font-size: 3vw;}
#Agi { top: 18%; left: 50%; font-size: 3vw;}
#Int { top: 40%; right: 13.5%; font-size: 3vw;}
#Vig { bottom: 12%; left: 70.5%; font-size: 3vw;}
#Pre { bottom: 12%; left: 29%; font-size: 3vw;}






#Custom-Dados ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Custom-Dados button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #374250;
    padding: 0.2vw;
    height: 4.2vw;
    width: 6.2vw;
    border-radius: 0.7vw;
    margin: 6px;
}

#Custom-Dados svg {
    fill: aliceblue;
    margin: 3px;
}

.CD-valor {
    font-size: 1.1vw;
    position: relative;
    left: -2.26vw;
    top: 0.25vw;
}

.CD-valor-dois-caracteres {
    font-size: 0.9vw;
    position: relative;
    left: -2.4vw;
    top: 0.25vw;
}

.CD-valor-tres-caracteres {
    font-size: 0.7vw;
    position: relative;
    left: -2.54vw;
    top: 0.34vw;
}

















.oculto.info-oculta {
    display: none;
}











/* Ajustes responsivos */
@media (max-width: 600px) {
    .container-info {
        flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
    }
    .container-info .box-titulo h1 {
        font-size: 12px;
    }
    .container-info .box-titulo p {
        font-size: 16px;
    }
}
